In [1]:
import pandas as pd

In [6]:
price_table = pd.read_csv('/Users/adriaferrer/Avocalypse_data/FAOSTAT_pricing.csv')

In [7]:
price_table.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,PI,Producer Price Indices - Annual,9,Argentina,5539,Producer Price Index (2004-2006 = 100),572,Avocados,2007,2007,NaN,123.086061,Fc,Calculated data
1,PI,Producer Price Indices - Annual,9,Argentina,5539,Producer Price Index (2004-2006 = 100),572,Avocados,2008,2008,NaN,155.952012,Fc,Calculated data
2,PI,Producer Price Indices - Annual,9,Argentina,5539,Producer Price Index (2004-2006 = 100),572,Avocados,2009,2009,NaN,139.891744,Fc,Calculated data
3,PI,Producer Price Indices - Annual,9,Argentina,5539,Producer Price Index (2004-2006 = 100),572,Avocados,2010,2010,NaN,171.921928,Fc,Calculated data
4,PI,Producer Price Indices - Annual,9,Argentina,5539,Producer Price Index (2004-2006 = 100),572,Avocados,2011,2011,NaN,215.123273,Fc,Calculated data

In [12]:
countries = price_table.groupby(['Area','Area Code']).sum()

In [17]:
countries = countries.reset_index()[['Area','Area Code']]

In [18]:
countries.head()

                               Area  Area Code
0                         Argentina          9
1                         Australia         10
2                          Barbados         14
3  Bolivia (Plurinational State of)         19
4                            Brazil         21

In [19]:
from sqlalchemy import create_engine

driver = 'mysql+pymysql:'
user = 'root'
password = '17028854'
ip = '35.195.111.11'
database = 'Avocalypse'

connection_string = f'{driver}//{user}:{password}@{ip}/{database}'
engine = create_engine(connection_string)

In [20]:
countries.to_sql('countries',con=engine, if_exists='replace')